@import url("https://fonts.googleapis.com/css2?family=Sora:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Sora", sans-serif;
  color: white;
  overflow-x: hidden;

  background:
    radial-gradient(circle at top, rgba(245,196,0,.08), transparent 30%),
    radial-gradient(circle at bottom right, rgba(245,196,0,.05), transparent 35%),
    #090909;
}

button,
a {
  font-family: inherit;
}

section {
  position: relative;
  overflow: hidden;
}

section::before {
  content: "";
  position: absolute;
  width: 500px;
  height: 500px;
  background: radial-gradient(circle, rgba(245,196,0,.04), transparent 70%);
  top: -250px;
  right: -200px;
  pointer-events: none;
}

section:nth-child(even)::before {
  left: -200px;
  right: auto;
}

body {
  margin: 0;
  background: #090909;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;

  background-image: url("/images/background-pattern.png");
  background-repeat: repeat;
  background-size: 1555px;
  background-position: center;

  opacity: 0.08;   /* ← AQUÍ */

  pointer-events: none;
  z-index: -1;
}